/*______________________PageHome______________________*/

#pageHome {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/NZPiez/resources/img/pie1.jpg");
    background-repeat: no-repeat;
    background-position: -470px;
    background-size: cover;
}

#fonPage {
    position: absolute;
    width: 350px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
    z-index: 0;
}

#pageContentHome {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#pageContentHome p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    text-align: right;
}


/*______________________!PageHome______________________*/