@import "/NZPiez/css/normalize.css";
@import "/NZPiez/css/headerStyle.css";
@import "/NZPiez/css/pageHome.css";
@import "/NZPiez/css/pageAboutUs.css";
@import "/NZPiez/css/pageFood.css";
@import "/NZPiez/css/pageReviews.css";
@import "/NZPiez/css/footerContacts.css";
body {
    margin: 0;
    margin-left: 40%;
    padding: 0;
    width: 350px;
    font-family: Roboto;
    overflow-x: hidden;
}

.page {
    background: linear-gradient(157.38deg, #FF7B01 20.03%, #FFA801 115.13%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 350px;
}

.content {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#pageGallery {
    display: none;
}


/*--------------------------footer----------------------------*/

footer {
    position: fixed;
    bottom: 0px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    width: 25px;
    height: 25px;
    background-color: #fff;
}


/*--------------------------!footer---------------------------*/